.bg-danger-darker {
    background-color: #b781cf !important;
}
.cart-text-title{
    font-size: 35px;
}
.cart-text{
    font-size: 25px;
}
a{
  text-decoration: none;
}

.main{
    min-height: 100vh;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15) !important;
}